<header>
    <img src="/images/oregon.png" alt="Green Oregon State shape"></img>
    <nav id="nav">
        <ul class="container">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About Me</a></li>
            <li><a href="{{ site.baseurl }}/platform.html">Platform</a></li>
            <li><a href="{{ site.baseurl }}/news.html">News</a></li>
            <li><a href="{{ site.baseurl }}/contact.html">Contact Me</a></li>
        </ul>
    </nav>
</header>