<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description}}{% endif %}"/>
        <meta name="keywords" content="topics: Politics, socialTag: Elizabeth, Elizabeth Graser-Lindsey, Oregon, Bill Kennemer, Verne Duncan, Alan Olsen, entities: Elizabeth, Elizabeth Graser-Lindsey, Seth Rydmark, Democratic candidate, Ken Kraft, Attorney, Julie Parrish, Mayor, Oregon City, Norma Paulus, Jim Bernard, Oregon Senate, Alan Olsen, Charles Gallia, Alice Norris, Dave Frohnmayer, County Board, general election, the primary, county commissioner and state legislator, Superintendent and Secretary of State, State Superintendent, General, Bill Kennemer, Fischers Mill, Canby City Council, Damascus, Verne Duncan, senate, Mark Hatfield, ">
        <meta name="google-site-verification" content="iSd4LXtcNNxC6pq9_SxIMlkWlucZpIBtbxoOjgT5MgQ" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/test.css" />
	</head>
	<body>
    <div class="page">
		<!-- Nav -->
        {% include nav_links.html %}
            
        <!--body-->
        
        <article class="container" id="top">
            {{ content }}
        </article>

        <!-- Contact -->
        {% include footer.html %}

    </div>
	</body>
</html>